*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 Lato, sans-serif;
}

.search-bar{
    margin: 2em auto;
    background: #3d3534;
    width: 700px;
    border: 1px solid #000;
    border-radius: 0.3em;
    padding: 1.5em;
}

.search-bar.items{
    width: 100%;
}

.items input{
    width: 89%;
    border: none;
    outline: none;
}

.items button{
    width: 10%;    
}

.items input,
.items button{
    padding: 0.5em;
    border-radius: 0.3em;
    background: #000;
    color: #fff;
}

input[type=text]:focus {
    border: 3px solid #03fc07;
}
